.login
    input[type=text], input[type=password]
        border: none
        outline: none
        border-radius: 10px
        height: 30px
        padding: 3px 20px
    input[type=submit]
        border: none
        border-radius: 10px
        outline: none
        color: #eee
        font-weight: bold
        background: #F44336
        cursor: pointer
        transition: 0.3s ease-in-out
        &:hover
            background: #FF1744

.grid
    display: grid
    grid-auto-rows: minmax(30px, auto)

.grid-column
    grid-auto-flow: column

.grid-row
    grid-auto-flow: row

.gap-10
    grid-gap: 10px

@for $i from 1 through 5
    .w#{$i}
        grid-template-columns: repeat($i, 1fr)
