html, body 
    margin: 0
    height: 100%

*
    font-family: 'Roboto', sans-serif

@keyframes fadein 
    from
        margin-top: -20px
        opacity: 0 
    to
        opacity: 1
        margin-top: 0

#content 
    position: absolute
    width: 100%
    height: 100%
    > div
        background-image: url('/build/images/bliss.jpg')
        background-position: center center
        background-attachment: fixed
        background-size: cover
        background-repeat: no-repeat
        min-height: 100%

a
    text-decoration: none
    color: #000

.nav
    position: fixed
    width: 100%
    height: 50px
    background: #fff
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
    z-index: 10000
    a
        display: block
    h1
        margin: 0
        line-height: 50px
        text-align: center
        color: #444
        font-size: 1.5em
    h1, img
        float: left
    .toggleNavButton
        float: right
        height: 30px
        width: 40px
        padding: 12.5px 10px 7.5px 10px
        cursor: pointer
        transition: 0.1s linear
        div
            height: 5px
            width: 40px
            background: #444
            margin-bottom: 5px
            border-radius: 3px
            transition: inherit
        &:hover
            div
                background: #000
    .toggleNav
        position: fixed
        right: 0
        top: 50px
        height: calc(100% - 50px)
        min-width: 200px
        background: #444
        transition: 0.2s ease-in-out
        transform: translateX(110%)
        z-index: 1
        div
            line-height: 50px
            padding: 0 60px 0 40px
            margin-bottom: 10px
            font-size: 1.1em
            cursor: pointer
            user-select: none
            color: #fafafa
            background: inherit
            transition: inherit
            &:hover
                background: #111
        &.active
            transform: translateX(0)
    

.header
    display: flex
    justify-content: center
    margin: 20px 0
    h2, div
        margin: 0
        text-align: center
        font-size: 1.5em
        font-weight: normal
        padding: 10px 20px
        background: rgba(#fff, 0.5)
        cursor: pointer
        transition: 0.5s
        animation: fadein 1s
        &:hover
            background: #fff
    h2
        border-left: 5px solid #fff
        border-right: 5px solid #fff
    div:first-child
        border-top-left-radius: 50%
        border-bottom-left-radius: 50%
    div:last-child
        border-top-right-radius: 50%
        border-bottom-right-radius: 50%

.devices
    display: flex
    flex-wrap: wrap
    .item
        padding: 10px
        width: 100/3*1%
        box-sizing: border-box
        animation: fadein 1s
        .info
            padding: 20px
            border-radius: 10px
            display: flex
            background: rgba(#fff, 0.5)
            justify-content: space-around
            align-items: flex-start
            flex-direction: column
            transition: 0.3s ease-in-out
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
            &:hover
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)        
            .row, .row > span
                color: #000
                line-height: 40px
                font-size: 20px
            .row
                width: 100%
                text-align: right
            .row > span
                float: left
    .delete
        cursor: pointer
        margin: 0 auto
        background: red
        color: #fff
        padding: 5px 20px
        border-radius: 10px

.toggle
    padding: 5px 0
    height: 30px
    span
        float: right
        line-height: 30px
        padding-right: 10px
    .toggle-bk
        position: relative
        height: 100%
        width: 60px
        float: right
        background: #2196F3
        border-radius: 20px
        cursor: pointer
        transition: 0.2s ease-in-out
        .toggle-button
            position: absolute
            left: 0
            height: 20px
            width: 20px
            margin: 5px
            border-radius: 10px
            background: #fff
            transition: inherit
        &.off
            background: #F44336
            .toggle-button
                left: calc(100% - 30px)

.chart
    width: 100%

.loading
    text-align: center
    font-size: 1.2em
    width: 100%
    padding: 50px 0

@media screen and (max-width: 960px)
    .devices
        .item
            width: 50%

@media screen and (max-width: 640px)
    .devices
        .item
            width: 100%

@import 'rooms'
@import 'login'
@import 'form'


