html, body 
    margin: 0
    height: 100%

#content 
    position: absolute
    width: 100%
    height: 100%

.devices
    height: 100%
    display: flex
    justify-content: space-around
    align-items: center
    .item
        background: #2196F3
        width: 200px
        border-radius: 10px
        padding: 10px
        div
            color: #fff
            line-height: 40px
            font-size: 20px
            text-align: center