.rooms
    padding: 70px 0 20px 20px
    display: flex
    > div
        background: #fff
        padding: 20px
        margin-right: 20px
        border: 2px solid #aaa
        border-radius: 10px
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
    td:nth-child(2)
        text-align: right
        min-width: 200px