.rooms
    padding: 20px 0 20px 20px
    display: flex
    flex-wrap: wrap
    > div
        background: rgba(#fff, 0.3)
        padding: 20px
        margin: 0 20px 20px 0
        border: 2px solid #aaa
        border-radius: 10px
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
    td
        white-space: nowrap
        &:nth-child(2)
            text-align: right
            min-width: 200px